/*font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Dancing Script', cursive;*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Titillium Web', sans-serif;
}


/*styling for landing page*/

.navbar {
	background-color: #fefefa;
	padding-left: 10px;
   	padding-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;

}

#jumboland {
	height: 100vh;
/*	background-color: #333; /*offblack*/
    background-image: url(https://images.pexels.com/photos/7174/summer-grass.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	padding: 10%;
	border-radius: 0; /*to remove rounded corners of jumbotron*/
	background-size: cover;
}

.jumbotron h1 {
	color: black; /*offwhite*/
	font-family: 'Open Sans Condensed', sans-serif;
}


#takemehome {
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.btn a {
	text-decoration: none;
	color: white;
	font-weight: bolder;
    letter-spacing: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
}


.jumbotron p {
	font-family: 'Dancing Script', cursive;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bolder;
}

.tagline {
	font-family: 'Dancing Script', cursive;
	font-weight: 200;
	font-size: 1.5em;
}

.agentname {
	font-family: 'Dancing Script', cursive;
	font-weight: 700;
}


/*styling for homepage*/

#homeland {
	background-color: #fefefa;
}

#carousel-home img {
	height: 80vh;
	max-height: 80vh;
	border-color: green;
}

.card {
	height: 100%;
	margin-top: 20px;
}
.card img {
	height: 250px;
	width: 100%;
}

.search-container {
	width: 100%;
	padding: 0;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
}

.search-container .form-control {
	height: 40px;
}
.search-container .search-submit {
	position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
}

#seebut {
	border-radius: 0px;
}

.sas .ath .je {
	background-image: url(https://images.pexels.com/photos/7174/summer-grass.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

/*styling for about page*/

#jumbolanda {
	height: 100vh;
/*	background-color: #333; /*offblack*/
    background-image: url(https://images.pexels.com/photos/7174/summer-grass.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	padding: 5%;
	margin: 0 0;
	border-radius: 0; /*to remove rounded corners of jumbotron*/
	background-size: cover;
}

#landing-mission {

	font-size: 3em; /*1em is equals to 16px*/
	letter-spacing: 2px;
	font-family:'Titillium Web', sans-serif;	
}

#landing-vision {
	
	font-size: 3em; /*1em is equals to 16px*/
	letter-spacing: 2px;
	font-family:'Titillium Web', sans-serif;
	
}

#landing-team {
	font-size: 3em; /*1em is equals to 16px*/
	letter-spacing: 2px;
	font-family:'Titillium Web', sans-serif;
	
}

#landing-team .h3 {
	font-size: 3em; /*1em is equals to 16px*/
	letter-spacing: 2px;
	font-family:'Titillium Web', sans-serif;
	
}

#missionul li {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
}

#namesec {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder; 
    text-align: center;
}

#rolesec {
	font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
}

.img-fluid {
	width: 280px;
	height: 250px;
}

/*styling for gallery*/

#head-gall {
	margin-top: 8%;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	background-color: #141414;
	color: #f2f2f2;
}
.active {
	background-color: indianred;
	border-bottom: 3px solid black;
}

/*.gallery-container {
	background-image: url(https://images.pexels.com/photos/7174/summer-grass.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
}*/

.properties-cav {
  color: #020202;
 } 

.properties-lag {
   color: #020202;
 }

.properties-bat {
  color: #020202;
 }

#galid {
	width: 450px;
	height: 300px;
}

span.divider.center {
    margin-right: auto;
    margin-left: auto;
}

span.divider {
    display: block;
    margin: 35px 0;
    width: 150px;
    height: 2px;
    background-color: #2b3e4f;
}



/*styling for footer*/
 
.footer {
	background-color: #fefefa;
	padding-left: 35em;
	font-weight: bolder;
	line-height: 10px;
}

.foot {
	margin-right: 0;
	margin-left: 0;
}

/*styling for alta tierra*/

.axeia-table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/*mobile*/

@media only screen and (max-width: 400px) {
	#pic {
		width: 25px;
		height: 20px;
	}

	#carousel-home img {
	height: 50vh;
	max-height: 50vh;
	border-color: green;
	}

	.foot {
		margin: 0;
	}

	.footer {
		padding-left: 6em;
		font-size: 12px;
		margin-top: 10px;

	}

	.search-container {
		display: none; 
	}
	
	.navbar-toggler {
		margin-left: 8em;	
	}

	.card {
	height: 80vh;
	margin-top: 3px;
	}

	#landing-mission {

	font-size: 2em; /*1em is equals to 16px*/
	letter-spacing: 2px;
	font-family:'Titillium Web', sans-serif;
	text-align: center;	
	}

	#landing-vision {
	
	font-size: 2em; /*1em is equals to 16px*/
	letter-spacing: 2px;
	font-family:'Titillium Web', sans-serif;
	text-align: center;	
	color: #F5F5F5;	
	}
	
	#missionul li {
	margin-left: 10px;
	text-align: justify;	
	}

	#visionp {
	color: #F5F5F5;
	}

	.rounded-circle{
    margin-left: 50px;
	}

	#galid {
    margin-top: 5px;
	}

	.googlemap {
		display: none;
	}
}


/*tablet*/

@media only screen and (min-width: 401px) and (max-width: 960px) {

	.search-container {
		display: none; 
	}
	
	#carousel-home img {
	height: 50vh;
	max-height: 50vh;
	border-color: green;
	}

	#seebut {
		padding: 5px;
	}
	
	.card {
	height: 50vh;
	font-size: 15px;

	}

	.card img {
	height: 100px;
	}

	.footer {
    padding-left: 15em;
	}

	#jumbolanda {
	height: 50vh;
    }

	.footer {
    margin-bottom: 5px;
	}

	.googlemap {
		width: 100%
		/*padding-left: 100px;*/
	}

}



/*desktop*/

@media only screen and (min-width: 961px) {
}